<div class="homepage-images-container">
  <section class="image-collection">
    <%= image_tag("/images/computer.jpg", size: "360x350") %>
    <%= image_tag("/images/interview-words.png", size: "360x350") %>
    <%= image_tag("/images/job-search.jpg", size: "360x350") %>
    <%= image_tag("/images/keyboard.jpg", size: "360x350") %>
    <%= image_tag("/images/pants.jpg", size: "360x350") %>
    <%= image_tag("/images/sign.jpg", size: "360x350") %>
  </section>
</div>


