
<div class="container">
 <%= form_for @form_input do |f| %>
 <table class="table-bordered">
    <tr>
      <td><%= f.label :logo, "Logo Here" %></td>
      <td><%= f.label :company_name, "Company NAME" %></td>
      <td><%= f.label :company_address, "Company ADDRESS" %></td>
    </tr>
    <tr>
      <td><%= f.file_field :logo %></td>
      <td><%= f.text_field :company_name %></td>
      <td><%= f.text_field :company_address %></td>
    </tr>
    <tr>
      <td><%= f.label :first_name, "First NAME" %></td>
      <td><%= f.label :middel_name, "Middle NAME" %></td>
      <td><%= f.label :last_name, "Last NAME" %></td>
    </tr>
    <tr>
      <td><%= f.text_field :first_name %></td>
      <td><%= f.text_field :middle_name %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>
</table> 
<%= f.submit %>
<% end %>
</div>