




<div class="container">
 <p>Header Options</p>
<ul id="sortable2" class="connectedSortable">
   <%= form_for @form_input do |f| %>
  <li><%= f.label :logo, "Place Logo Here" %><%= f.file_field :logo %></li>
  <li><%= f.label :company_name, "Company Name" %><%= f.text_field :company_name %></li>
   <% end %>
</ul>
</div>